#body {
    background-color: papayawhip;
}


#box1 {
    background-color: blue;
    float: left;
    clear: left;
}
#box2 {
    background-color: green;

}
#box3 {
    background-color: red;
    float: left;
    clear: left;
}
#box4 {
    background-color: orange;

}
.box {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    margin-top: 25px;
    padding: 7px;
}